<div *ngIf="submitted" class="alert alert-success alert-dismissible fade show" role="alert">
    Your Url is Successfully Created !
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container">
  <form class="m-3" #UrlForm="ngForm" novalidate>
    <div class="form-group" >
      <label>Original Url</label>
      <input 
        [(ngModel)]="Urldata.originalurl"
        [class.is-invalid]="original.invalid && original.touched"
        name="originalurl"
        type="string"
        #original="ngModel"
        class="form-control col-8"
        required
      />
      <small  class="text-danger" [class.d-none]="original.valid || original.untouched" > Url is required </small>
    </div>
    <div class="form-group">
      <label>ShortUrl</label>
      <input
        [class.is-invalid]="haserror && short.touched"
        [(ngModel)]="Urldata.shorturl"
        name="shorturl"
        type="string"
        #short="ngModel"
        class="form-control col-8"
      />
      <small class="text-danger" [class.d-none]="!haserror || short.untouched"> Url is already Used Please try again with another Url</small>
    </div>
    <button [disabled]="short.errors || original.errors || UrlForm.form.untouched"  class="btn btn-primary" type="button" (click)="submitted=false;Validate();">
      Create
    </button>
  </form>
</div>
<div class="container">
  <h2>Recent Urls</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Original Url</th>
        <th>ShortUrl</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of Allurls">
        <td>{{ u.originalurl }}</td>
        <td>{{ u.shorturl }}</td>
      </tr>
    </tbody>
  </table>
</div>
